.main{
    width: 1560px;
    height: 1359px;
}

.nav{
    width: 1560px;
    height: 80px;
}

#menu{
    position: absolute;
    top: 30px;
    left: 29px;
    height: 18px;
    width: 27px;
    display: inline;
}

#hlogo{
    position: absolute;
    top: 25px;
    left: 72px;
    height: 30px;
    width: 142px;
    display: inline;
}

#searchicon{
    position: absolute;
    top: 32px;
    left: 291px;
    height: 16px;
    display: inline;
}

#search{
    position: absolute;
    top: 12px;
    left: 321px;
    font-family: 'Segoe UI';
    display: inline;
}

input
{
    border:0px solid;
    font-size: 16px;
}

#noticon{
    position: absolute;
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;
}

#profile{
    position: absolute;
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
}

.right
{
    float:right;
    margin-left: 15px;
    margin-top: 5px;
}

.drop-down
{
    position: absolute;
    top:27.68px;
    right:68px;
    height:21px;
    width:90px;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

.sidebar ul li
{
    list-style-type: none;
    margin-bottom: 20px;
}
.sidebar
{
    width:242px;
}
.sidebar ul
{
    padding-left: 6px;
}
#sidebartext
{
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
   
}
.sidebar ul li a img
{
    padding-right: 12.5px;
}

.sidebar ul li a
{
    padding-right: 35px;
}
.menu1 ul li
{
    list-style-type: none;
}
.sidebar ul li a .dashboard :hover
{
    /*background-image:url(../images/dashboard-active.svg);*/
}
a
{
    text-decoration: none;
    font-size: 16px;
    margin-top: 105px;
    padding-top: 10px;
    margin-left:30px;
    padding-left: 10px;
    margin-width:183px;
    padding-width:170px;
    margin-height:43px;
    padding-height:30px;
    margin-right:30px;
    padding-right: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
     color:#3E3E3E;
}

a:hover
{
    background-color: #FFF3F4;
    color: #C8242F;
    border-radius: 5px;
}

#sideicon
{
    top: 122px;
    left: 48px;
    width: 20px;
    height: 20px;
}
.left
{
    float:left;
}
.right
{
    justify-content: center;
}
.content
{
    background-color: #FAFAFA;
    padding:30px;
}
.content h1
{
    font-family: 'Roboto', sans-serif;
}
h2
{
    font-family: 'Roboto', sans-serif;
}
.dashboard_show
{
    width:219.4px;
    height:116px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 31px;
    margin-bottom: 33px;
    align-content: center;
    margin-right: 32px;
    display:inline-flex;
    font-family: 'Roboto', sans-serif;
}

.justify
{
    padding-top: 30px;
}
.margin-left
{
    margin-left: 30px;
}
.dashboard_1
{
    margin-right:20px;
}
.data-graph
{
    background-color: white;
    width:802px;
    height:400px;
}
.pie-chart
{
    background-color: white;
    padding:40px;
    padding-top: 10px !important;
    height: 320px;
    width: 320px;
}
h2
{
    background-color: white;
    margin-bottom: 0px;
}
.margin
{
    margin-left:20px;
}
.margin ul li
{
    display:inline-block;
}
.margin2
{
    background-color: white;
}
.total-product img
{
    height: 40px;
}
table
{
    width:100%;
    text-align: left;
    background-color: white;
    color:#3E3E3E;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
tr th
{
    color:#ADADAD;
}
th, td
{
    border-bottom: 1px solid #E9E9E9;
}
.dot1{
    height: 18px;
    width: 18px;
    background-color: #C8242F;
    border-radius: 50%;
    display: inline-block;
}
.dot2{
    height: 18px;
    width: 18px;
    background-color: #A2B86C;
    border-radius: 50%;
    display: inline-block;
}
.dot3{
    height: 18px;
    width: 18px;
    background-color: #F16C20;
    border-radius: 50%;
    display: inline-block;
}
.dot4{
    height: 18px;
    width: 18px;
    background-color: #EBC844;
    border-radius: 50%;
    display: inline-block;
}